{% load static %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="shortcut icon" href="{% static 'Freebie.png' %}">
    <link rel="stylesheet" href="{% static 'css/createAccountStyle.css' %}">
    
</head>
<body>
    
    <div class="container">
        <form  action = "" method= "POST" >
            {% csrf_token%}
            <input type="text" name="username" placeholder="username" required autofocus><br><br>
            <input type="password" name="password" placeholder="password" required><br><br>
            <input type="submit" ></input>
            
        </form>
        <br>
        <form class="form" id="empLogin1" action="../employeecreate/">
            <button class="form__button" type ="submit">Don't have account? Create account</button>
        </form>
        <br>
        <form class="form" id="empLogin2" action="/">
            <button class="form__button" type ="submit">Back to Main Menu</button>
        </form>

        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
        
    </div>
</body>